    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">

        <div class="container">

            <!--======

            <div class="about-content">
                <h3 class="title"><span>Presentación General de la suite <span>MPATICA</span></span></h3>
                <span></span>
            </div>

            <span></span>

            <div class="about-content" ALIGN=center>
                <a  href="https://bit.ly/32qfyDv" download="MpaticaDocente" target="_blank"
                    <h4 class="title"><strong>Descarga la presentación resumen de la suite de Mpatica para el docente</strong></h4>
                    </a>
            </div>

            <span></span>

            <div class="about-content"  ALIGN=center>
                <a href="https://bit.ly/2EtI4Mn" download="MpaticaDocente" target="_blank"
                    <h4 class="title"><strong>Descarga la presentación resumen de la suite de Mpatica para el estudiante</strong></h4>
                    </a>
            </div>

            <span></span>
            <p></p>

            ======-->
            
            <div class="about-content">
                <h3 class="title"><span>Suite mpatica para el <span>docente</span></span></h3>
                <span></span>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/453362189" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                      </div> 
                </div>
            </div>

            <span></span>
            <p></p>

            <span></span>
            <p></p>

                    <div class="about-content" align="center">
                        <a  href="https://bit.ly/32qfyDv" download="MpaticaDocente" target="_blank"
                        <span>Descarga la presentación resumen de la suite de Mpatica para el docente</span>
                            </a>
                    </div>

            <span></span>
            <p></p>

            <span></span>
            <p></p>


            <div class="about-content">
                <h3 class="title"><span>Suite mpatica para el <span>estudiante</span></span></h3>
                <span></span>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/453362554" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                      </div> 
                </div>
            </div>

            <span></span>
            <p></p>

            <span></span>
            <p></p>

            <div class="about-content" align="center">
                <a href="https://bit.ly/2EtI4Mn" download="MpaticaEstudiante" target="_blank"
                <span>Descarga la presentación resumen de la suite de Mpatica para el estudiante</span>
                    </a>
            </div>

            <span></span>
            <p></p>

            <span></span>
            <p></p>

            <span></span>
            <p></p>

            <span></span>
            <p></p>


            <div class="about-content">
                <h3 class="title"><span>Presentación General del Modelo <span>MPATICA</span></span></h3>
                <span></span>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/426044546" allowfullscreen></iframe>
                      </div> 
                </div>
            </div>

            <span></span>
            <p></p>

            <div class="about-content">
                <span></span>
                <span></span>
                <h3 class="title"><span>Funcionamiento del Modelo <span>MPATICA</span></span></h3>
                <span></span>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/432930006" allowfullscreen></iframe>
                      </div> 
                </div>
            </div>


            <span></span>
            <p></p>



            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{relative_url}}/assets/images/001_modeloPedagogico.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title"><span>Modelo pedagógico <span>adaptable</span></span></h3>
                        <span></span>
                        <p>Se fundamenta en un conjunto de teorías y metodologías que se complementan para lograr aprendizaje significativo.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{relative_url}}/assets/images/003_tecnologiaEducativa.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title"><span>Tecnología <span>educativa</span></span></h3>
                        <span></span>
                        <p>Nube educativa, integrada a plataformas y repositorios especializados para la enseñanza-aprendizaje de niños y jóvenes.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{relative_url}}/assets/images/002_innovacionContinua.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title"><span>Innovación <span>continua</span></span></h3>
                        <span></span>
                        <p>Investigación continua para la innovación del modelo y los recursos tecnológicos que utiliza en procura de mejorar la experiencia del usuario.</p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{relative_url}}/assets/images/004_accesibilidad.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title"><span>Accesibilidad y <span>Confidencialidad</span></span></h3>
                        <span></span>
                        <p>Desde cualquier dispositivo y en cualquier lugar, 24/7.  Confidencialidad e Integridad de la información.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->
