    <!--====== ABOUT PART START ======-->

    <section class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb text-center">
                        <img src="{{relative_url}}/assets/images/about-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3 class="title"><span>Innovacion <span>continua</span></span></h3>
                        <span></span>
                        <p>Investigación continua para la innovación del modelo y los recursos tecnológicos que utiliza en procura de mejorar la experiencia del usuario.</p>
                        <ul>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->
