    <!--====== PROJECT PART START ======-->

    <section class="project-case-area project-home pt-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title"> <span>Como se enseña y aprende con <span>MPATICA</span></span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{relative_url}}/assets/images/project/project-3.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{relative_url}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">Diseño y publicación de contenidos</h4>
                            <span>Docente</span>
                            <p>Diseño y grabación de clases, Diseño de actividades de aprendizaje, Diseño de cuestionarios automatizados, Publicación de contenidos</p>
                            <a href="#">Ver detalles <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{relative_url}}/assets/images/project/project-4.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{relative_url}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">Prepatando el terreno (asincrónico)</h4>
                            <span>Estudiante</span>
                            <p>Análisis puntos claves de clase pregrabada, Realización de lecturas, ejercicios, cuestionarios, pre-clase, Foro de preguntas</p>
                            <a href="#">Ver detalles <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="project-case-item mt-30">
                        <div class="project-case-thumb">
                            <img src="{{relative_url}}/assets/images/project/project-5.jpg" alt="">
                            <i class="fal fa-stars"></i>
                        </div>
                        <div class="project-case-content text-center">
                            <img src="{{relative_url}}/assets/images/project-shadow.png" alt="">
                            <h4 class="title">Aprendizaje Activo (sincrónico)</h4>
                            <span>Docentes y estudiantes</span>
                            <p>Tratamiento de temas con mayor dificultad, Resolución de preguntas, Discusiones dirigidas, Actividades para el aprendizaje activo con tecnología.</p>
                            <a href="#">Ver detalles <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== PROJECT PART START ======-->
