<!--====== WORKING PROCESS PART START ======-->

<section class="working-process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title">¿Cómo se enseña y aprende <span>con <span>MPATICA</span></span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="working-item text-center item-1">
                    <i class="fal fa-head-side-brain"></i>
                    <h5 class="title">Diseño y publicación de contenidos / Docente</h5>
                    <p>Diseño y grabación de clases, Diseño de actividades de aprendizaje, Diseño de cuestionarios automatizados, Publicación de contenidos</p>
                    <div class="dot-1">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="working-item text-center item-2">
                    <i class="fal fa-layer-group"></i>
                    <h5 class="title">Preparando el terreno (asincrónico) / Estudiante</h5>
                    <p>Análisis puntos claves de clase pregrabada, Realización de lecturas, ejercicios, cuestionarios, pre-clase, Foro de preguntas</p>
                    <div class="dot-2">
                        <img src="{{relative_url}}/assets/images/working-dot-2.png" alt="working">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="working-item text-center item-3">
                    <i class="fal fa-unicorn"></i>
                    <h5 class="title">Aprendizaje activo (sincrónico) / Docente y estudiante</h5>
                    <p>Avoids pleasure itself, because it is pleasure but because those</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="working-item text-center item-4">
                    <i class="fal fa-upload"></i>
                    <h5 class="title">Profundización y refuerzo (asincrónico) / Docente y estudiante</h5>
                    <p>Realización de tareas y evaluaciones automatizadas, Revisión de clase pregrabada, Interacción con juegos para el aprendizaje</p>
                    <div class="dot-3">
                        <img src="{{relative_url}}/assets/images/working-dot-1.png" alt="working">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-1"></div>
    <div class="shape-2"></div>
    <div class="shape-3"></div>
    <div class="shape-4"></div>
</section>



<section class="services-3-area pb-125">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="title">Características de<span><span>MPATICA</span></span></h2>
                        <p>Something knows About Our Cases</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <i class="fal fa-laptop-code"></i><br>
                        <span>Plataforma e infraestructura</span>
                        <h4 class="title">Tecnológica</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <i class="fal fa-umbrella-beach"></i><br>
                        <span>Gestor para grabación de</span>
                        <h4 class="title">Clases</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                        <i class="fal fa-server"></i><br>
                        <span>Gestión colaborativa de</span>
                        <h4 class="title">Contenidos educativos</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
                        <i class="fal fa-lock-open-alt"></i><br>
                        <span>Evaluciones</span>
                        <h4 class="title">automatizadas</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                        <i class="fal fa-layer-plus"></i><br>
                        <span> ... </span>
                        <h4 class="title">Gamificación</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
                        <i class="fal fa-gift-card"></i><br>
                        <span>Estadísticas de</span>
                        <h4 class="title">Aprendizaje</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                        <i class="fal fa-drafting-compass"></i><br>
                        <span>Competencias y planes de</span>
                        <h4 class="title">Aprendizaje</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="services-item mt-70 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
                        <i class="fal fa-dharmachakra"></i><br>
                        <span>Asistente personal</span>
                        <h4 class="title">Docente</h4>
                        <p>Avoids pleasure itself, because it is pleasure but because</p>
                        <a href="#">Read More <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section> 



<!--====== WORKING PROCESS PART ENDS ======-->
